{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Wiki Disney !{% endblock %}

{% block body %}

<section id="home" class="container">
    <div class="top_page col-12 col-lg-7">
        <h1>Bienvenue sur Wiki Disney !</h1>
        <h2>L'encyclopédie développée par une communauté de passionnés.</h2>
        <hr>

        <div class="text_page">
            <p>Nous vous souhaitons énormément de succès et de plaisir sur le Wiki Disney !</p>
            <p>Votre connaissance du monde Disney nous sera d'un grand recours :</p>
            <ul class="list_text">
                <li class="li_text">En effet, vous allez pouvoir vous créer votre propre compte et ajouter des articles de vos personnages préférés s'ils n'existent pas déjà</li>
                <li>Vous allez découvrir le grands univers Disney au travers des contributions de notre grande communauté.</li>
                <li>Enfin, vous vous remémorerez de magnifiques souvenirs en retrouvant parfois des personnages oubliés !</li>
            </ul>
            <p>Nous espérons de tout cœur que vous deviendrez l'un de nos plus talentueux rédacteurs !</p>
            
            <p>— L'équipe du Wiki Disney.</p>
        </div>
    </div>

    <article>
        <h2 class="my-5">Laissez-vous guider par la magie des Disney et découvrez...</h2>
        <div class="row g-4 justify-content-between mt-3">
            <div class="col-12 col-lg-6 row">
                <p class="col-12 title">Nos articles</p>
                {% for article in mixed_articles %}
                <div class="col-6 h-100">
                    <a href="{{path('one_article', {articleId:article.id})}}">
                        <div class="card">
                            <img src="{{asset('uploads/articles/')}}{{article.image}}" class="card-img-top" alt="{{article.title}}">
                            <div class="card-body">
                                <h2 class="card-title">{{article.title}}</h2>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="col-12 col-lg-6 row">
                <p class="col-12 title">Nos catégories</p>
                {% for category in mixed_cats %}
                    <div class="col-6">
                        <a href="{{path('one_category', {categoryId:category.id})}}">
                            <div class="card">
                                <img src="{{asset('uploads/categories/')}}{{category.image}}" class="card-img-top category" alt="...">
                                <div class="card-body">
                                    <h2 class="card-title">{{category.name}}</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div> 
    </article>
</section>
{% endblock %}
