{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Wiki Disney !{% endblock %}

{% block body %}

<section>
    <div class="top_page" style="text-align:center;background-color:grey;border-radius:5px;width: 55%;margin:0 auto;margin-top:15px;padding:15px;border: 1px solid white;">
        <h1>Bienvenue sur Wiki Disney !</h1>
        <h2>L'encyclopédie développée par une communauté de passionnés.</h2>
        <div style="border-bottom:2px solid black; width: 90%; margin:0 auto;"></div>

        <div class="text_page" style="font-size:16px; width: 90%; margin: 0 auto; margin-top: 15px; text-align: left;">
            <p>Nous vous souhaitons énormément de succès et de plaisir sur le Wiki Disney !<br>
            Votre connaissance du monde Disney nous sera d'un grand recours.<br>
            <ul style=" list-style-type: disc;">
                <li style="width: 65%">Pour en connaître un peu plus sur le fonctionnement d'un wiki, vous avez la possibilité de vous adresser à un membre du wiki sur sa page de discussion ou de vous rendre sur le Centre des Communautés.</li>
                <li>Afin de connaître le fonctionnement du wiki.</li>
                <li>Enfin, pour vous familiariser avec votre profil et votre page de discussion.</li>
            </ul>
            Nous espérons de tout cœur que vous deviendrez l'un de nos plus talentueux rédacteurs !<br><br>
            
            — L'équipe du Wiki Disney.</p>
        </div>
    </div>

    <section class="container" style="margin-top:15px; padding: 15px">
        <div style="display:flex; justify-content:space-between"><h1>Articles les plus consulté</h1><h1>Catégories les plus consulté</h1></div>
        <div class="row g-4">
            {% for article in all_articles|slice(0,2) %}
                <div class="col-6 col-md-3 h-100">
                    <a href="{{path('one_article', {articleId:article.id})}}">
                        <div class="card">
                            <img src="{{asset('images/')}}{{article.picture}}" class="card-img-top" alt="{{article.title}}">
                            <div class="card-body">
                                <h2 class="card-title">{{article.title}}</h2>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            
            {% for category in all_cats|slice(0,2) %}
                <div class="col-6 col-md-3">
                    <a href="{{path('one_category', {categoryId:category.id})}}">
                        <div class="card">
                            <img src="https://cdn.pixabay.com/photo/2022/10/15/14/55/ornamental-plant-7523304_960_720.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h2 class="card-title">{{category.name}}</h2>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div> 
    </section>
</section>
{% endblock %}
