{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}

<section class="container">
    <h1>Catégories</h1>
    <div class="row g-4">
        {% if categories is defined %}
            {% for category in categories %}
            <div class="col-6 col-md-3">
                <a href="{{path('one_category', {categoryId:category.id})}}">
                    <div class="card">
                        <img src="{{asset('uploads/categories/')}}{{category.image}}" class="card-img-top category mx-auto py-3" alt="{{category.name}}">
                        <div class="card-body">
                            <h2 class="card-title">{{category.name}} <span class="badge text-bg-secondary" title="{{category.article|length}} articles">{{category.article|length}}</span></h2>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        {% endif %}
    </div> 
</section>

{% endblock %}