{% extends 'base.html.twig' %}

{% block title %}{{category.name}}{% endblock %}

{% block body %}
<section class="container">
    <h1>{{category.name}}</h1>
    <div class="row g-4">
        {% if category_articles is defined %}
            {% for article in category_articles %}
            <div class="col-6 col-md-3">
                <a href="{{path('one_article', {articleId:article.id})}}">
                    <div class="card">
                        <img src="{{asset('images/')}}{{article.picture}}" class="card-img-top" alt="{{article.title}}">
                        <div class="card-body">
                            <h2 class="card-title">{{article.title}}</h2>
                            {# <p>par {{article.author.pseudo}}</p> #}
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        {% endif %}
    </div> 
</section>

{% endblock %}