{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
<section id="dashboard" class="container">
    <h1 class="text-center">Bienvenue {{app.user.pseudo}}</h1>

    

    <div class="row">
        {% for article in articles %}
        <article class="col-12 col-lg-6 my-2">
            <div class="row h-100 p-2 m-1 bg-white border rounded">
                <div class="col-md-3">
                    <img class="img-fluid img-thumbnail rounded-circle product-image" 
                        src="{{asset('uploads/articles/')}}{{article.image}}" alt="{{article.title}}">
                </div>
                <div class="col-md-6">
                    <h2>{{article.title}}</h2>
                    <p class="text-justify text-truncate para mb-0">{{article.movie}}</p>
                </div>
                <div class="col-md-3">
                    <a href="{{path('one_article', {articleId:article.id})}}" title="Lire l'article" class="btn btn-blue">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a href="{{path('article_update_dashboard', {articleId:article.id})}}" title="Modifier l'article" class="btn btn-success">
                        <i class="fa-solid fa-pen"></i>
                    </a>
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#deleteModal" title="Supprimer l'article">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>
            </div>
        </article>

            {% if app.user and app.user.id == article.author.id %}
                <!-- Modal to delete article -->
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h2 class="modal-title" id="deleteModalLabel">{{article.title}}</h2>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                        <p>Êtes-vous sûr de vouloir supprimer définitivement cet article ?</p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <a href="{{ path('article_delete_dashboard', {articleId:article.id}) }}" class="btn btn-danger">Supprimer</a>
                        </div>
                    </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <a href="{{path('article_add')}}" title="Ajouter un article" class="btn btn-error btn-floating rounded-circle">
        <i class="fas fa-plus"></i>
    </a>
</section>


{% endblock %}
