{% extends 'base.html.twig' %}

{% block title %}{{article.title}}{% endblock %}

{% block body %}

<section id="one-article" class="container">
    <div class="row">
        <!-- article header -->
        <article class="col-12 col-lg-8 title">
            <h1>{{article.title}}</h1>
            {% if app.user and app.user.id == article.author.id %}
                <p class="mb-0">
                    <!-- Button to modify article -->
                    <a class="btn btn-success" title="Modifier l'article" href="{{path('article_update_wiki', {articleId:article.id})}}">
                        <i class="fa-solid fa-pen"></i>
                    </a>
                    <!-- Button to delete article -->
                    <button type="button" class="btn btn-warning ml-3" data-bs-toggle="modal" data-bs-target="#deleteModal" title="Supprimer l'article">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </p>
            {% endif %}
            <hr class="col-12">
        </article>
        <!-- end of article header -->
        
        <article class="col-12">
            <!-- sidebar -->
            <div class="sidebar">
                <div class="card">
                    <div class="card-header text-center">
                        <h2>{{article.title}}</h2>
                    </div>
                    
                    <img src="{{asset('images/')}}{{article.picture}}" alt="{{article.title}}" class="mx-auto my-2 px-5 w-100">
                    <table class="table table-bordered mb-0">
                        <tr>
                            <th class="col-4">Film</th>
                            <td>{{article.movie}}</td>
                        </tr>
                        <tr>
                            <th class="col-4">Résumé</th>
                            <td>{{article.summary}}</td>
                        </tr>
                        <tr>
                            <th class="col-4">Catégories</th>
                            <td>
                                <ul class="p-0 m-0">
                                    {% for category in article.category %}
                                        <li><a href="{{path('one_category', {categoryId:category.id})}}">{{category.name}}</a></li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th class="col-4">Auteur</th>
                            <td><span>
                                {# TODO : ajouter lien vers la page avec la liste de tous les articles écrits par ce user quand la route aura été créée #}
                                <a href="">
                                    {% if article.author.id > 0 %}
                                        {{article.author.pseudo}}
                                    {% else %}
                                        Auteur inconnu
                                    {% endif %}
                                </a></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <!--end of sidebar-->

        <!-- main article -->

            <p class="article-content">{{article.content}}</p>
            <hr/>
            <!-- end of main article -->
        </article>
    </div>
</section>


{% if app.user and app.user.id == article.author.id %}
  <!-- Modal to delete article -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="deleteModalLabel">{{article.title}}</h2>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Êtes-vous sûr de vouloir supprimer définitivement cet article ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <a href="{{path('article_delete_wiki', {articleId:article.id})}}" class="btn btn-danger">Supprimer</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

{% endblock %}